{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}

	<h1>Toutes les catégories disponible :
	</h1>

	{% for category in categories %}
		<div>
			<h2>{{ loop.index }}
				/								
												- Catégorie :
				{{ category.name }}</h2>
			<a href="{{ path("category_show", { categoryName: category.name }) }}">Voir la fiche</a>
		</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}
	<a href="{{ path('home_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}
