{% extends "base.html.twig" %}

{% block title %}Wild Series
{% endblock %}
{% block body %}

	<ul>

		{% for program in programs %}
			<li>
				<div>{{program.id}}</div>
				<div>{{program.title}}</div>
				<div>{{program.synopsis}}</div>
				<a href={{ path('program_show',{slug : program.slug} ) }}>Voir le programme</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
