{% extends 'base.html.twig' %}

{% block title %}New Season
{% endblock %}

{% block body %}
	<main class="container">
		<h1>Creer une saison</h1>

		{{ include('season/_form.html.twig') }}

		<a class="btn btn-primary" href="{{ path('app_season_index') }}">back to list</a>
	</main>
{% endblock %}
